---
import ThemeToggle from './ThemeToggle';
const {href, title} = Astro.props;
---

<div class="flex flex-row sticky items-center">
	<nav class="sticky m-5 text-black dark:text-white">
		<a href="/index">Home</a>
		<a href="/about">About</a>
	</nav>
	<ThemeToggle client:load />
</div>
